.jobtimeline {
	padding-top: 25px;
}
.jobtimeline--company {
	font-weight: 500;
	padding: 2px 5px 2px 5px;
	border-radius: 5px;
	background: #e8e8e8;
}

/*padding-top
padding-right
padding-bottom
padding-left */
